.BodyMenu {
  background: #FFFFFF;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  width: 250px;
  .nav {
    padding: 20px 0;
  }
  .nav-pills>li>a {
    border-radius: 0px;
  }
}

